<nav class="position-fixed bottom-0 start-0 text-center">
  <ul class="list-unstyled m-0">
    <li class="p-1">
      <%= link_to(random_posts_path, class: 'btn btn-link') do %>
        <i class="fas fa-dice fa-2x"></i>
      <% end %>
    </li>
    <li class="p-1">
      <%= button_tag(
        type: :button,
        class: 'btn btn-link',
        data: {
          'bs-toggle': "popover",
          'bs-placement': "right",
          'bs-trigger': "focus",
          'bs-html': true,
          'bs-content': t('sidebar.github_html', github_link: link_to('GitHub', 'https://github.com/bazzel/til-at-kabisa', target: '_blank'))
        }
        ) do %>
        <i class="fab fa-github fa-2x"></i>
      <% end %>
    </li>
    <li class="p-1">
      <%= button_tag(
        type: :button,
        class: 'btn btn-link',
        data: {
          'bs-toggle': "popover",
          'bs-placement': "right",
          'bs-trigger': "focus",
          'bs-html': true,
          'bs-content': t('sidebar.rest_api_html', github_link: link_to('this application', 'https://github.com/bazzel/til-at-kabisa', target: '_blank'), swagger_link: link_to('specifications', rswag_api_url, target: '_blank'))
        }
        ) do %>
        <i class="fas fa-tools fa-2x"></i>
      <% end %>
    </li>
    <li class="p-1">
      <% if current_user %>
        <%= link_to admin_root_path, class: "btn btn-link", data: { turbo: false } do %>
          <i class="fas fa-user-lock fa-2x"></i>
        <% end %>
      <% else %>
        <%= google_sign_in_button class: "btn btn-link", proceed_to: create_login_url, data: { turbo: false } do %>
          <i class="fas fa-user-lock fa-2x text-primary text-opacity-25"></i>
        <% end %>
      <% end %>
    </li>
  </ul>
</nav>
