<!DOCTYPE html>
<html>
  <head>
    <title>TIL@kabisa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </head>

  <body class="bg-secondary pb-5">
    <%= render 'navbar' %>
    <%= render 'hero' %>
    <div class="container mt-n5">
      <%= yield %>
    </div>
    <%= render 'sidebar' %>
  </body>
</html>
